{% extends 'base/base.html' %}
{% block title %}
    社团会员列表
{% endblock %}
{% block body %}
    <body>
    <div class="x-body">
        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <span class="x-right" style="line-height:40px">
                <a href="javascript:location.replace(location.href);" style="margin-right: 20px;">
                <button class="layui-btn layui-btn-normal" style="padding: 0 15px;">
                    <i class="layui-icon" style="font-size: 25px;font-weight: bolder;">&#xe669;</i>
                </button>
            </a>
                共有数据：{% for data in data_list %}{% if loop.last %}{{ loop.index }}{% endif %}{% endfor %}条</span>
        </xblock>
        <table class="layui-table x-admin">
            <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i>
                    </div>
                </th>
                <th>序号</th>
                <th>学号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>性别</th>
                <th>班级</th>
                <th>所属社团</th>
                <th>所属系别</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ data.id }}'>
                            <i class="layui-icon">&#xe605;</i>
                        </div>
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ data.student_num }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{% if data.sex==1 %}
                        女{% else %}男
                    {% endif %}</td>
                    <td>{{ data.class_grade or '' }}</td>
                    <td>{{ data.massModel.massName }}</td>
                    <td>{{ data.depart.department }}</td>
                    <td>{{ data.create_time or '' }}</td>
                    <td class="td-manage" style="width: 130px;">
                        <button class="layui-btn layui-btn-sm layui-btn-radius" title="编辑"
                                onclick="x_admin_show('编辑','{{ url_for('cms_bp.clubs_member_edit') }}?uid={{ data.id }}')"
                                href="javascript:;">
                            <i class="layui-icon">编辑</i>
                        </button>
                        <button title="删除" onclick="clubs_del(this,'{{ data.id }}')" href="javascript:;"
                                class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">
                            <i class="layui-icon">删除</i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#start'
            });
            laydate.render({
                elem: '#end'
            });
        });

        /*用户-删除*/
        function clubs_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: "DELETE",
                    data: {"uid": id},
                    dataType: "json",
                    success: function (data) {
                        if (data.status === 0) {
                            $(obj).parents("tr").remove();
                            layer.msg('删除成功!', {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            layer.msg('删除失败!', {icon: 2, time: 1000});
                        }
                    }
                });
            });
        }
    </script>
    </body>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript" src="{{ url_for('static',filename='./js/deletes.js') }}"></script>
{% endblock %}