{% extends 'base/base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block body %}
    <body>
    <div class="x-body">
        <form class="layui-form" action="" method="post">
            {% for foo in form %}
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">* </span>{{ foo.label }}
                </label>
                <div class="layui-input-inline">
                    {{ foo }}
                </div>
                {% if foo.errors.0 %}
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* {{ foo.errors.0 }}</span>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <input type="submit" class="layui-btn" value="确认提交"  lay-submit="">
            </div>
        </form>
    </div>
    </body>
{% endblock %}