{% extends 'base/base.html' %}
{% block title %}
    社团管理系统_登陆
{% endblock %}
{% block body %}
    <body class="login-bg">

    <div class="login layui-anim layui-anim-up">
        <div class="message">社团管理系统_登录入口</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form">
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input"
                   value="{{ data }}">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <span style="color: red">{{ error }}</span>
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">

        </form>
    </div>
    </body>
{% endblock %}
