alembic==1.0.7
Click==7.0
cymysql==0.9.13
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
import-string==0.1.0
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
manage==0.1.13
MarkupSafe==1.1.1
python-dateutil==2.8.0
python-editor==1.0.4
PyYAML==3.13
redis==3.2.0
six==1.12.0
SQLAlchemy==1.2.18
Werkzeug==0.14.1
WTForms==2.2.1
