<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="812eb4af562248f8a10b58239796a8dd" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_812eb4af562248f8a10b58239796a8dd = echarts.init(
            document.getElementById('812eb4af562248f8a10b58239796a8dd'), 'white', {renderer: 'canvas'});
        var option_812eb4af562248f8a10b58239796a8dd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "radar",
            "name": "\u623f\u5c4b\u671d\u5411/\u623f\u6e90\u6570",
            "data": [
                [
                    438,
                    305,
                    676,
                    202,
                    1794,
                    306,
                    269,
                    546
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "red"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "radar",
            "name": "\u5747\u4ef7/\u4e07\u5143",
            "data": [
                [
                    509,
                    566,
                    631,
                    429,
                    496,
                    497,
                    590,
                    633
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "blue"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u623f\u5c4b\u671d\u5411/\u623f\u6e90\u6570",
                "\u5747\u4ef7/\u4e07\u5143"
            ],
            "selected": {
                "\u623f\u5c4b\u671d\u5411/\u623f\u6e90\u6570": true,
                "\u5747\u4ef7/\u4e07\u5143": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "radar": {
        "indicator": [
            {
                "name": "\u4e1c"
            },
            {
                "name": "\u4e1c\u5317"
            },
            {
                "name": "\u4e1c\u5357"
            },
            {
                "name": "\u5317"
            },
            {
                "name": "\u5357"
            },
            {
                "name": "\u897f"
            },
            {
                "name": "\u897f\u5317"
            },
            {
                "name": "\u897f\u5357"
            }
        ],
        "shape": "circle",
        "name": {
            "textStyle": {}
        },
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        },
        "splitArea": {
            "show": true,
            "areaStyle": {
                "opacity": 0
            }
        },
        "axisLine": {
            "show": true,
            "onZero": true,
            "onZeroAxisIndex": 0
        }
    },
    "title": [
        {
            "text": "\u623f\u5c4b\u671d\u5411\u4ef7\u683c\u96f7\u8fbe\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_812eb4af562248f8a10b58239796a8dd.setOption(option_812eb4af562248f8a10b58239796a8dd);
    </script>
</body>
</html>
