
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static',filename ='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename ='css/xadmin.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename ='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static',filename ='lib/layui/layui.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='js/xadmin.js')}}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
        <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">选择省份：</label>
                    <div class="layui-input-inline layui-form">
                        <select lay-filter="province" id="province">
                        </select>
                    </div>
                    <label class="layui-form-label">选择城市：</label>
                    <div class="layui-input-inline layui-form">
                        <select lay-filter="city" id="city">
                        </select>
                    </div>
                </div>
        </div>
</form>
<div class="demoTable" >
    <button class="layui-btn" data-type="reload">条件搜索</button>
</div>
<div class="x-body">
    <table id="InfectedInfo" lay-filter="InfectedInfo"></table>
</div>
</body>
<script>
    province = ''
    city = ''
    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        var select = layui.select;
        form.on('select(province)', function(data){
            province = data.value;
            $.ajax({
                url:"{{ url_for('selectallCityByProvince') }}",
                data:{"province":province},
                dataType: 'json',
                type:'post',
                success: function (data) {
                    $('#city').html('');//二级联动前，一定要清空数据，要不然有bug
                    $.each(data, function (index, item) {
                        $('#city').append(new Option(item.city, item.city));// 下拉菜单里添加元素
                    });
                    form.render("select");
                }
            });
            form.render("select");
        });
        form.on('select(city)', function(data){
            city = data.value;
            console.log("city:"+city)
        });
        var tableIns = table.render({
            elem: '#InfectedInfo'  //绑定table表格
            ,id:'InfectedInfo'
            ,method:'post'
            ,url: '{{ url_for('selectallInfo') }}' //后台springmvc接收路径
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limit:7
                ,limits:[7,14,21]
            }
            ,cols: [
                [
                    {field:'id',title:'id号', sort: true}
                    ,{field:'privince', title:'省份'}
                    ,{field:'city', title:'城市'}
                    ,{field:'confirmedCount', title:'确诊人数'}
                    ,{field: 'curedCount', title: '治愈人数'}
                    ,{field: 'deadCount', title: '死亡人数'}
                    /*,{field:'operation',title:'操作',toolbar: '#barDemo'}*/
                ]
            ]
        });
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('InfectedInfo', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , method: 'POST'
                    ,where: {
                        key: {
                            "province":province,
                            "city":city
                        }
                    }
                    ,url:'{{ url_for('selectAreaByOption') }}'
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    })
    $(function () {
        $.ajax({
            url: '{{ url_for('selectallProvince') }}',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $.each(data, function (index, item) {
                    $('#province').append(new Option(item.province, item.province));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
    });
</script>
</html>
