<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/jquery-ui.css">

</head>
<body>
    <style>.box {  }; </style>
        
    <div class="box">
                <div id="fdcbc7c8576c49e292d4a727def86a40" class="chart-container" style="position: absolute; width: 900px; height: 432px; top: 31px; left: 8px;"></div>
    <script>
        var chart_fdcbc7c8576c49e292d4a727def86a40 = echarts.init(
            document.getElementById('fdcbc7c8576c49e292d4a727def86a40'), 'light', {renderer: 'canvas'});
        var option_fdcbc7c8576c49e292d4a727def86a40 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "0-200W",
                    "value": 174
                },
                {
                    "name": "201W-400W",
                    "value": 3326
                },
                {
                    "name": "401W-600W",
                    "value": 3433
                },
                {
                    "name": "601W-800W",
                    "value": 2055
                },
                {
                    "name": "\u5927\u4e8e800W",
                    "value": 1675
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "0-200W",
                "201W-400W",
                "401W-600W",
                "601W-800W",
                "\u5927\u4e8e800W"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5317\u4eac\u623f\u4ef7\u533a\u95f4\u7edf\u8ba1",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fdcbc7c8576c49e292d4a727def86a40.setOption(option_fdcbc7c8576c49e292d4a727def86a40);
    </script>
<br/>                <div id="3fc05065df6d4e2c9248a64b8f127dd7" class="chart-container" style="position: absolute; width: 900px; height: 427px; top: 490px; left: 9px;"></div>
    <script>
        var chart_3fc05065df6d4e2c9248a64b8f127dd7 = echarts.init(
            document.getElementById('3fc05065df6d4e2c9248a64b8f127dd7'), 'light', {renderer: 'canvas'});
        var option_3fc05065df6d4e2c9248a64b8f127dd7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u623f\u5c4b\u671d\u5411",
            "legendHoverLink": true,
            "data": [
                4748,
                1794,
                676,
                546,
                527,
                438,
                306,
                305
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u623f\u5c4b\u671d\u5411"
            ],
            "selected": {
                "\u623f\u5c4b\u671d\u5411": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5357\u5317",
                "\u5357",
                "\u4e1c\u5357",
                "\u897f\u5357",
                "\u4e1c\u897f",
                "\u4e1c",
                "\u897f",
                "\u4e1c\u5317"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u623f\u5c4b\u671d\u5411\u7edf\u8ba1\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3fc05065df6d4e2c9248a64b8f127dd7.setOption(option_3fc05065df6d4e2c9248a64b8f127dd7);
    </script>
<br/>                <div id="7cc8fe5b7489474c80da9a0d19e33894" class="chart-container" style="position: absolute; width: 900px; height: 444px; top: 32px; left: 971px;"></div>
    <script>
        var chart_7cc8fe5b7489474c80da9a0d19e33894 = echarts.init(
            document.getElementById('7cc8fe5b7489474c80da9a0d19e33894'), 'light', {renderer: 'canvas'});
        var option_7cc8fe5b7489474c80da9a0d19e33894 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u5c0f\u533a\u623f\u6e90\u6570\u91cf\u7edf\u8ba1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5e7f\u5b89\ufe52\u5eb7\u99a8\u5bb6\u56ed",
                    84
                ],
                [
                    "\u53cc\u5408\u5bb6\u56ed",
                    76
                ],
                [
                    "\u89d2\u95e8\u4e1c\u91cc",
                    46
                ],
                [
                    "\u82b3\u53e4\u56ed\u4e00\u533a",
                    36
                ],
                [
                    "\u4fdd\u5229\u897f\u5c71\u6797\u8bed",
                    34
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5c0f\u533a\u623f\u6e90\u6570\u91cf\u7edf\u8ba1"
            ],
            "selected": {
                "\u5c0f\u533a\u623f\u6e90\u6570\u91cf\u7edf\u8ba1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5e7f\u5b89\ufe52\u5eb7\u99a8\u5bb6\u56ed",
                "\u53cc\u5408\u5bb6\u56ed",
                "\u89d2\u95e8\u4e1c\u91cc",
                "\u82b3\u53e4\u56ed\u4e00\u533a",
                "\u4fdd\u5229\u897f\u5c71\u6797\u8bed"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u524d\u4e94\u5c0f\u533a\u623f\u6e90\u6570\u6298\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7cc8fe5b7489474c80da9a0d19e33894.setOption(option_7cc8fe5b7489474c80da9a0d19e33894);
    </script>
<br/>                <div id="3b84cbb80bed40d8b024c6e6d2079c66" class="chart-container" style="position: absolute; width: 900px; height: 434px; top: 490px; left: 979px;"></div>
    <script>
        var chart_3b84cbb80bed40d8b024c6e6d2079c66 = echarts.init(
            document.getElementById('3b84cbb80bed40d8b024c6e6d2079c66'), 'light', {renderer: 'canvas'});
        var option_3b84cbb80bed40d8b024c6e6d2079c66 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "scatter",
            "symbolSize": 20,
            "data": [
                [
                    35.27,
                    179.0
                ],
                [
                    35.49,
                    149.0
                ],
                [
                    38.97,
                    480.0
                ],
                [
                    42.66,
                    218.0
                ],
                [
                    43.1,
                    345.0
                ],
                [
                    43.1,
                    640.0
                ],
                [
                    43.36,
                    198.0
                ],
                [
                    48.52,
                    236.0
                ],
                [
                    49.69,
                    252.0
                ],
                [
                    50.6,
                    475.0
                ],
                [
                    51.95,
                    393.0
                ],
                [
                    54.11,
                    405.0
                ],
                [
                    55.52,
                    219.0
                ],
                [
                    56.29,
                    422.0
                ],
                [
                    57.6,
                    520.0
                ],
                [
                    58.1,
                    340.0
                ],
                [
                    58.26,
                    490.0
                ],
                [
                    58.5,
                    270.0
                ],
                [
                    58.92,
                    325.0
                ],
                [
                    59.1,
                    818.0
                ],
                [
                    59.34,
                    380.0
                ],
                [
                    59.6,
                    598.0
                ],
                [
                    59.86,
                    319.0
                ],
                [
                    60.61,
                    269.0
                ],
                [
                    60.65,
                    319.0
                ],
                [
                    61.3,
                    675.0
                ],
                [
                    61.8,
                    348.0
                ],
                [
                    62.02,
                    89.0
                ],
                [
                    62.66,
                    448.0
                ],
                [
                    62.71,
                    253.0
                ],
                [
                    63.15,
                    359.0
                ],
                [
                    63.68,
                    349.0
                ],
                [
                    64.72,
                    245.0
                ],
                [
                    66.05,
                    303.0
                ],
                [
                    66.31,
                    750.0
                ],
                [
                    66.46,
                    379.0
                ],
                [
                    66.92,
                    287.0
                ],
                [
                    66.92,
                    269.0
                ],
                [
                    67.96,
                    905.0
                ],
                [
                    68.32,
                    423.0
                ],
                [
                    68.5,
                    316.0
                ],
                [
                    69.2,
                    428.0
                ],
                [
                    69.55,
                    248.0
                ],
                [
                    70.45,
                    393.0
                ],
                [
                    71.05,
                    330.0
                ],
                [
                    71.17,
                    312.0
                ],
                [
                    71.44,
                    940.0
                ],
                [
                    71.52,
                    466.0
                ],
                [
                    74.29,
                    368.0
                ],
                [
                    74.9,
                    670.0
                ],
                [
                    75.54,
                    310.0
                ],
                [
                    75.87,
                    288.0
                ],
                [
                    76.37,
                    550.0
                ],
                [
                    76.58,
                    382.0
                ],
                [
                    77.4,
                    728.0
                ],
                [
                    77.41,
                    260.0
                ],
                [
                    77.45,
                    430.0
                ],
                [
                    78.05,
                    575.0
                ],
                [
                    78.33,
                    273.0
                ],
                [
                    78.95,
                    502.0
                ],
                [
                    80.0,
                    255.0
                ],
                [
                    80.76,
                    263.0
                ],
                [
                    80.78,
                    940.0
                ],
                [
                    81.64,
                    848.0
                ],
                [
                    82.55,
                    350.0
                ],
                [
                    83.62,
                    303.0
                ],
                [
                    85.16,
                    398.0
                ],
                [
                    87.34,
                    190.0
                ],
                [
                    88.77,
                    460.0
                ],
                [
                    88.87,
                    409.0
                ],
                [
                    89.01,
                    203.0
                ],
                [
                    89.51,
                    728.0
                ],
                [
                    89.65,
                    1149.0
                ],
                [
                    89.94,
                    460.0
                ],
                [
                    90.23,
                    278.0
                ],
                [
                    90.48,
                    345.0
                ],
                [
                    91.0,
                    865.0
                ],
                [
                    91.14,
                    880.0
                ],
                [
                    91.46,
                    460.0
                ],
                [
                    92.69,
                    799.0
                ],
                [
                    93.44,
                    429.0
                ],
                [
                    95.35,
                    470.0
                ],
                [
                    96.29,
                    399.0
                ],
                [
                    96.32,
                    449.0
                ],
                [
                    97.62,
                    573.0
                ],
                [
                    101.74,
                    685.0
                ],
                [
                    104.05,
                    475.0
                ],
                [
                    104.15,
                    1080.0
                ],
                [
                    106.89,
                    645.0
                ],
                [
                    106.94,
                    939.0
                ],
                [
                    107.01,
                    488.0
                ],
                [
                    108.16,
                    568.0
                ],
                [
                    117.25,
                    606.0
                ],
                [
                    135.2,
                    528.0
                ],
                [
                    138.84,
                    628.0
                ],
                [
                    139.66,
                    516.0
                ],
                [
                    142.4,
                    410.0
                ],
                [
                    146.71,
                    2390.0
                ],
                [
                    183.17,
                    919.0
                ],
                [
                    187.23,
                    1280.0
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": false,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                35.27,
                35.49,
                38.97,
                42.66,
                43.1,
                43.1,
                43.36,
                48.52,
                49.69,
                50.6,
                51.95,
                54.11,
                55.52,
                56.29,
                57.6,
                58.1,
                58.26,
                58.5,
                58.92,
                59.1,
                59.34,
                59.6,
                59.86,
                60.61,
                60.65,
                61.3,
                61.8,
                62.02,
                62.66,
                62.71,
                63.15,
                63.68,
                64.72,
                66.05,
                66.31,
                66.46,
                66.92,
                66.92,
                67.96,
                68.32,
                68.5,
                69.2,
                69.55,
                70.45,
                71.05,
                71.17,
                71.44,
                71.52,
                74.29,
                74.9,
                75.54,
                75.87,
                76.37,
                76.58,
                77.4,
                77.41,
                77.45,
                78.05,
                78.33,
                78.95,
                80.0,
                80.76,
                80.78,
                81.64,
                82.55,
                83.62,
                85.16,
                87.34,
                88.77,
                88.87,
                89.01,
                89.51,
                89.65,
                89.94,
                90.23,
                90.48,
                91.0,
                91.14,
                91.46,
                92.69,
                93.44,
                95.35,
                96.29,
                96.32,
                97.62,
                101.74,
                104.05,
                104.15,
                106.89,
                106.94,
                107.01,
                108.16,
                117.25,
                135.2,
                138.84,
                139.66,
                142.4,
                146.71,
                183.17,
                187.23
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e00\u767e\u4e2a\u9762\u79ef-\u4ef7\u683c\u6563\u70b9\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3b84cbb80bed40d8b024c6e6d2079c66.setOption(option_3b84cbb80bed40d8b024c6e6d2079c66);
    </script>
<br/>    </div>
    <script>
            $('#fdcbc7c8576c49e292d4a727def86a40').css('border-style', 'dashed').css('border-width', '0px');$("#fdcbc7c8576c49e292d4a727def86a40>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#fdcbc7c8576c49e292d4a727def86a40'), function() { chart_fdcbc7c8576c49e292d4a727def86a40.resize()});
            $('#3fc05065df6d4e2c9248a64b8f127dd7').css('border-style', 'dashed').css('border-width', '0px');$("#3fc05065df6d4e2c9248a64b8f127dd7>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#3fc05065df6d4e2c9248a64b8f127dd7'), function() { chart_3fc05065df6d4e2c9248a64b8f127dd7.resize()});
            $('#7cc8fe5b7489474c80da9a0d19e33894').css('border-style', 'dashed').css('border-width', '0px');$("#7cc8fe5b7489474c80da9a0d19e33894>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#7cc8fe5b7489474c80da9a0d19e33894'), function() { chart_7cc8fe5b7489474c80da9a0d19e33894.resize()});
            $('#3b84cbb80bed40d8b024c6e6d2079c66').css('border-style', 'dashed').css('border-width', '0px');$("#3b84cbb80bed40d8b024c6e6d2079c66>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#3b84cbb80bed40d8b024c6e6d2079c66'), function() { chart_3b84cbb80bed40d8b024c6e6d2079c66.resize()});
            var charts_id = ['fdcbc7c8576c49e292d4a727def86a40','3fc05065df6d4e2c9248a64b8f127dd7','7cc8fe5b7489474c80da9a0d19e33894','3b84cbb80bed40d8b024c6e6d2079c66'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
